streamlit
pandas
numpy
NASAPowerClient
requests
folium
streamlit-folium
shapely
pyogrio
geopandas
pystac-client
planetary-computer
xarray
stackstac
matplotlib
fpdf 
openai
seaborn 
contextily
Pillow
plotly
google-generativeai
reportlab
api_clients
